.overlay {
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  padding-top: 4em;
  transition-property: top;
  transition-duration: .5s;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction:  column;
}
